from hashlib import sha256
SQLALCHEMY_DATABASE_URI = 'mysql+pymysql://user:password@localhost/dbname'
SECRET_KEY = 'qjvFNjCrziBT'
DEBUG = True
SALT = sha256('qjvFNjCrziBTcoYiIxweneVpqDIbQrk'.encode()).hexdigest().encode()
SQLITE = False
REDMINE_URL = ''
REDMINE_KEY = ''
EVO_URL = ''
EVO_KEY = ''
print('config loaded!')